<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h1>Fruit Index</h1>

  <ul>
    <%      
      for(let i = 0; i < fruits.length; i++) {   
        // you can have multiple lines between the statement tags
        // https://ejs.co/
        // https://ejs.co/#docs
        console.log(fruits[i].name)    
        let fruitNumber = i + 1
      %>
      <li>
        Fruit number <%= fruitNumber %> is <%=   fruits[i].name    %>. It is <%= fruits[i].color %>.
        It is <%= fruits[i].readyToEat ? "" : "NOT" %> ready to eat.
      </li>

    <% } %>
    
  </ul>

</body>
</html>